*{
    font-family: Arial, Helvetica, sans-serif;
}
.col-md-4{
    padding-right: 0;
}


.centered{
    background-color: #87C4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
}
.main-container{
    background-color: #FFFFFF;
    border: 1px solid #F3EEEA;
    border-radius: 15px;
    width: 850px;
    height: 450px;
}


/* Sidebar Div */
.sidebar{
    background-color: #FFFFFF;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    height: 410px;
    width: 20px;
    
}
.details{
    height: 450px;
}
.student-profile{
    background-color: whitesmoke;
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.student-nameID{
    padding: 5px;
}
.student-nameID h1{
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.student-nameID p{
    font-size: 12px;
    text-align: center;
}
.sidebar-links{
    margin-top: 30px;
}
.sidebar-links ul{
    list-style: none;
    padding: 10px;
}
.sidebar-links ul li{
    margin-top: 10px;
    letter-spacing: 2px;
}
.sidebar-links ul li a {
    color: black;
    display: block; /* Change from inline-block to block */
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0 10px 0;
    text-decoration: none;
    margin: 15px;

}
.sidebar-links ul li:hover {
    background-color: blue;
    
}
.sidebar-links ul li a:hover{
    color: #FFFFFF;
}
.sidebar-links ul li:active{
    background-color: #0014FF;
    color: #FFFFFF;
}
/*Details*/
.details{
    overflow-y: auto;
    scrollbar-width: none;
    height: 370px;
    
}
.family, .educational{
    display: none;
}

































