* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Override css */
.col-md-4 {
    padding-right: 0;
    padding-left: 0;
    width: 250px;
}

.col-md-8 {
    padding-right: 0;
    padding-left: 15;
    width: 545px;
    height: 440px;
    
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.row::before, ::after{
    box-sizing: unset;
}

/* sidebarbuttonoverride */



.btn-group, .btn-group-vertical{
    margin-top: 50px;
}

.btn-group-vertical > .btn:first-child:not(:last-child){
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.btn-group-vertical > .btn:last-child:not(:first-child){
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child){
    border-left: none;
    border-right: none;
}




.btn-group-vertical > .btn, .btn-group-vertical > 
.btn-group, .btn-group-vertical > 
.btn-group > .btn{
    width: 250px;
    text-align: left;
    border-radius: 0;
 
}

.btn-group-vertical > .btn + .btn, .btn-group-vertical > 
.btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group{
    margin-top: 10px;
}


.btn-primary{
    background-color: #FFFFFF;
    color: black;
    border: none;
   
}
.btn{
    padding: 10px 35px;
    letter-spacing: 1px;
}
.form-control{
    width: 95%;
}
label{
    font-size: 12px;
    font-weight: 200;
}


/* Pure CSS */
.centered {
    background-color: #87C4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main-container {
    background-color: #FFFFFF;
    border: 1px solid #F3EEEA;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 800px;
    height: 450px;
}
.sidebar{
    width: 100%;
    height: 400px;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}
.student-profile{
    background-color: whitesmoke;
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.student-nameID{
    padding: 5px;
}
.student-nameID h1{
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.student-nameID p{
    font-size: 12px;
    text-align: center;
}


/* Form */

.subheader h5{
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
}
input[type=number]{
    -moz-appearance:textfield;
}


/* Personal */
.personal-details{
    
    height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
}
.personal-details h1{
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: 2px;
}
.personal{
    margin-top: 50px ;
}



/* Family */
.family-background{
    display: none;
    height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
}
.family-background h1{
    margin-top: 30px;
    font-size: 24px;
    letter-spacing: 2px;
}
.fam{
    margin-top: 50px;
}





/* Educational */
.educational-details{
    display: none;
    height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
}
.educational-details h1{
    font-size: 24px;
    margin-top: 30px;
    letter-spacing: 2px;

}



/* Buttons */
.btn-groupEnder{
    float: right;
    margin-top: 37px;
    margin-right: 28px;
}
.btn-groupEnder button{
    font-size: 12px;
    width: 100px;
    height: 30px;
    padding: 5px;
}
.btn-submit{
    margin-left: 10px;
    background-color: #0079FF;
    border: .5px solid #45474B;
    color: #FFFFFF;
}
.btn-logout{
    background-color: #D80032;
    border: .5px solid #45474B;
    color: #FFFFFF;
    padding: 15px;
}
.btn-submit:hover{
    background-color: #03C988;
}
.btn-logout:hover{
    background-color: #FFFFFF;
}

@media screen and (max-width:720px){
    .main-container{
        width: 250px;
    }
    .sidebar{
        box-shadow: none;
        
       
    }

    .col-xs-6.col-md-4{
        width: 100%;
    }
    .col-xs-6.col-md-8{
        width: 100%;
        padding-left: 10px;
    }
    .all-details{
        display: none;
    }
    .btn-group, .btn-group-vertical{
        width: 100%;
    }
    .btn-groupEnder{
        float: unset;
        margin: 0;
        margin-top: 80px;
    }
    .btn-submit{
        margin-left: 25px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .btn-logout{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .personal-details h1{
        font-size: 18px;
    }
    .family-background h1{
        font-size: 18px;
    }
   
}


@media screen and (min-width:720px) and (max-width:1080px){
    .main-container{
        width: 420px;
    }
    .sidebar{
        box-shadow: none;
        width: 100%;
        
    }
    .student-nameID{
        margin-top: 20px;
    }
    .student-nameID h1{
        font-size: 18px;
    }
    .col-xs-6.col-md-4{
        width: 100%;
    }
    .col-xs-6.col-md-8{
        width: 100%;
        padding-left: 20px;
    }
    .btn-group-vertical{
        margin-top: 40px;
        width: 100%;
    }
    .btn-group-vertical > .btn, .btn-group-vertical > .btn-group, 
    .btn-group-vertical > .btn-group > .btn{
        width: 100%;
    }
    .btn{
        padding: 10px 60px;
    }
    .btn-group-vertical > .btn:first-child:not(:last-child){
        width: 100%;
        padding-left: 30%;
        
    }
    .btn-group-vertical > .btn:not(:first-child):not(:last-child){
        width: 100%;
        padding-left: 30%;
        
    }
    .btn-group-vertical > .btn:last-child:not(:first-child){
        width: 100%;
        padding-left: 30%;
       
    }
    .all-details{
        display: none;
    }
    .btn-submit{
        margin-left: 25px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .btn-logout{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

}